root = true

# 기본 설정
[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Markdown, JSON
[*.{md,json}]
charset = utf-8-bom

# C/C++
[*.{c,cpp,h,hpp}]
indent_style = space
indent_size = 4
charset = utf-8-bom

# Visual Studio XML
[*.{vcxproj,filters,props}]
indent_style = space
indent_size = 2
charset = utf-8

# Batch / Shell
[*.{bat,sh}]
end_of_line = lf

# HLSL / FX
[*.{hlsl,hlsli,fx,fxh}]
charset = utf-8
end_of_line = crlf
